<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controller.admin.AddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseController</servlet-name>
        <servlet-class>controller.admin.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.admin.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListQuestionController</servlet-name>
        <servlet-class>controller.admin.ListQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAccounts</servlet-name>
        <servlet-class>controller.admin.AccountsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.admin.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeExamController</servlet-name>
        <servlet-class>controller.student.TakeExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultExamController</servlet-name>
        <servlet-class>controller.student.ResultExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllController</servlet-name>
        <servlet-class>controller.student.ShowAllResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.student.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>controller.admin.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerAccounts</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/admin/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseController</servlet-name>
        <url-pattern>/admin/deletecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/admin/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuestionController</servlet-name>
        <url-pattern>/admin/showall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/admin/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeExamController</servlet-name>
        <url-pattern>/student/startExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultExamController</servlet-name>
        <url-pattern>/student/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllController</servlet-name>
        <url-pattern>/student/showAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/student/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/admin/deletequestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
